MobilityTelzarWebService/src/conf/xml-resources/web-services/OOServiceFromWSDL/wsdl/WS-NPG-IT-Services-SOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://www.TELZAR.co.il/Schemas/npUnfreezeNumber" xmlns:ns1="http://www.TELZAR.co.il/Schemas/npRoutingUpdate" xmlns:ns4="http://www.TELZAR.co.il/Schemas/npNumberUpdate" xmlns:ns3="http://www.TELZAR.co.il/Schemas/npExecution" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://npg.namespaces.com/Schemas/TELZAR-NPGITService" xmlns:ns0="http://www.TELZAR.co.il/Schemas/npPortOutCheck" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns5="http://www.TELZAR.co.il/Schemas/npUpdateStatus" name="Untitled" targetNamespace="http://npg.namespaces.com/Schemas/TELZAR-NPGITService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate">
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUnfreezeNumber"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:element name="body">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:source_system"/>
                        <xs:element ref="ns1:target_system"/>
                        <xs:element ref="ns1:message_id"/>
                        <xs:element ref="ns1:message_send_timestamp"/>
                        <xs:element ref="ns1:request_type"/>
                        <xs:element ref="ns1:request_message_id"/>
                        <xs:element ref="ns1:dn_choice"/>
                        <xs:element ref="ns1:dn_type"/>
                        <xs:element ref="ns1:old_operator"/>
                        <xs:element ref="ns1:new_operator"/>
                        <xs:element ref="ns1:npg_request_id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crm_customer_id" type="xs:string"/>
            <xs:element name="crm_form_id" type="xs:string"/>
            <xs:element name="crm_info_1" type="xs:string"/>
            <xs:element name="crm_info_10" type="xs:string"/>
            <xs:element name="crm_info_2" type="xs:string"/>
            <xs:element name="crm_info_3" type="xs:string"/>
            <xs:element name="crm_info_4" type="xs:string"/>
            <xs:element name="crm_info_5" type="xs:string"/>
            <xs:element name="crm_info_6" type="xs:string"/>
            <xs:element name="crm_info_7" type="xs:string"/>
            <xs:element name="crm_info_8" type="xs:string"/>
            <xs:element name="crm_info_9" type="xs:string"/>
            <xs:element name="crm_req_id" type="xs:string"/>
            <xs:element name="crm_request_id" type="xs:string"/>
            <xs:element name="crm_seq_id" type="xs:string"/>
            <xs:element name="curr_state_code" type="xs:string"/>
            <xs:element name="curr_state_date" type="xs:string"/>
            <xs:element name="curr_state_desc" type="xs:string"/>
            <xs:element name="curr_state_trans_code" type="xs:string"/>
            <xs:element name="curr_state_trans_desc" type="xs:string"/>
            <xs:element name="curr_status_code" type="xs:string"/>
            <xs:element name="curr_status_desc" type="xs:string"/>
            <xs:element name="customer_id" type="xs:string"/>
            <xs:element name="customer_type" type="xs:string"/>
            <xs:element name="date_from" type="xs:string"/>
            <xs:element name="date_to" type="xs:string"/>
            <xs:element name="delayed_request_time" type="xs:string"/>
            <xs:element name="dn_choice">
                <xs:complexType>
                    <xs:choice>
                        <xs:element minOccurs="0" ref="ns1:dn_number"/>
                        <xs:sequence>
                            <xs:element minOccurs="0" ref="ns1:dn_from"/>
                            <xs:element minOccurs="0" ref="ns1:dn_to"/>
                        </xs:sequence>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="dn_from" type="xs:string"/>
            <xs:element name="dn_number" type="xs:string"/>
            <xs:element name="dn_number_item">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:dn_choice"/>
                        <xs:element ref="ns1:dn_type"/>
                        <xs:element minOccurs="0" ref="ns1:delayed_request_time"/>
                        <xs:element minOccurs="0" ref="ns1:porting_time"/>
                        <xs:element ref="ns1:crm_seq_id"/>
                        <xs:element minOccurs="0" ref="ns1:npg_request_id"/>
                        <xs:element minOccurs="0" ref="ns1:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dn_to" type="xs:string"/>
            <xs:element name="dn_type" type="xs:string"/>
            <xs:element name="donor" type="xs:string"/>
            <xs:element name="donor_id" type="xs:string"/>
            <xs:element name="essential_info_1" type="xs:string"/>
            <xs:element name="essential_info_2" type="xs:string"/>
            <xs:element name="essential_info_3" type="xs:string"/>
            <xs:element name="essential_info_4" type="xs:string"/>
            <xs:element name="essential_info_5" type="xs:string"/>
            <xs:element name="event_source_id" type="xs:string"/>
            <xs:element name="form_id" type="xs:string"/>
            <xs:element name="from" type="xs:string"/>
            <xs:element name="get_active_request" type="xs:string"/>
            <xs:element name="get_state_history" type="xs:string"/>
            <xs:element name="identification_value" type="xs:string"/>
            <xs:element name="identification_value_2" type="xs:string"/>
            <xs:element name="identification_value_3" type="xs:string"/>
            <xs:element name="interface_id" type="xs:string"/>
            <xs:element name="is_ported" type="xs:string"/>
            <xs:element name="kosher_flag" type="xs:string"/>
            <xs:element name="last_route_time" type="xs:string"/>
            <xs:element name="leading_dn" type="xs:string"/>
            <xs:element name="leading_number" type="xs:string"/>
            <xs:element name="lrn_code" type="xs:string"/>
            <xs:element name="message_id" type="xs:string"/>
            <xs:element name="message_send_timestamp" type="xs:string"/>
            <xs:element name="message_status">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:request_status"/>
                        <xs:element minOccurs="0" ref="ns1:request_reason_code"/>
                        <xs:element minOccurs="0" ref="ns1:request_reason_message"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="message_type" type="xs:string"/>
            <xs:element name="network_id" type="xs:string"/>
            <xs:element name="network_type" type="xs:string"/>
            <xs:element name="new_operator" type="xs:string"/>
            <xs:element name="npg_request_id" type="xs:string"/>
            <xs:element name="number_type" type="xs:string"/>
            <xs:element name="old_operator" type="xs:string"/>
            <xs:element name="om_system" type="xs:string"/>
            <xs:element name="operation">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="INSERT"/>
                        <xs:pattern value="MODIFY"/>
                        <xs:pattern value="DELETE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="order_auto_level" type="xs:string"/>
            <xs:element name="original_switch_ind" type="xs:string"/>
            <xs:element name="pnp1" type="xs:string"/>
            <xs:element name="pnp2" type="xs:string"/>
            <xs:element name="port_date" type="xs:string"/>
            <xs:element name="port_reason" type="xs:string"/>
            <xs:element name="portable" type="xs:string"/>
            <xs:element name="porting_execute_time" type="xs:string"/>
            <xs:element name="porting_request_time" type="xs:string"/>
            <xs:element name="porting_route_time" type="xs:string"/>
            <xs:element name="porting_time" type="xs:string"/>
            <xs:element name="process_state_code" type="xs:string"/>
            <xs:element name="process_state_desc" type="xs:string"/>
            <xs:element name="process_state_trans_code" type="xs:string"/>
            <xs:element name="process_state_trans_desc" type="xs:string"/>
            <xs:element name="process_status_code" type="xs:string"/>
            <xs:element name="process_status_desc" type="xs:string"/>
            <xs:element name="process_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="PORT-IN"/>
                        <xs:enumeration value="PORT-OUT"/>
                        <xs:enumeration value="PORT-OVER"/>
                        <xs:enumeration value="RETURN-OUT"/>
                        <xs:enumeration value="RETURN-IN"/>
                        <xs:enumeration value="RETURN-OVER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="product_sub_type" type="xs:string"/>
            <xs:element name="product_subtype" type="xs:string"/>
            <xs:element name="product_type" type="xs:string"/>
            <xs:element name="range">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:range_holder"/>
                        <xs:element ref="ns1:dn_from"/>
                        <xs:element ref="ns1:dn_to"/>
                        <xs:element ref="ns1:valid_from"/>
                        <xs:element minOccurs="0" ref="ns1:valid_to"/>
                        <xs:element ref="ns1:network_type"/>
                        <xs:element ref="ns1:portable"/>
                        <xs:element ref="ns1:toll_free"/>
                        <xs:element ref="ns1:kosher_flag"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="range_holder" type="xs:string"/>
            <xs:element name="recipient" type="xs:string"/>
            <xs:element name="recipient_id" type="xs:string"/>
            <xs:element fixed="SPO" name="record_type" type="xs:string"/>
            <xs:element name="rejection_code" type="xs:string"/>
            <xs:element name="request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:source_system"/>
                        <xs:element ref="ns1:target_system"/>
                        <xs:element ref="ns1:message_id"/>
                        <xs:element ref="ns1:message_send_timestamp"/>
                        <xs:element ref="ns1:request_type"/>
                        <xs:element ref="ns1:dn_choice"/>
                        <xs:element ref="ns1:dn_type"/>
                        <xs:element ref="ns1:old_operator"/>
                        <xs:element ref="ns1:new_operator"/>
                        <xs:element ref="ns1:npg_request_id"/>
                        <xs:element ref="ns1:process_type"/>
                        <xs:element ref="ns1:operation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="request_message_id" type="xs:string"/>
            <xs:element name="request_reason_code" type="xs:string"/>
            <xs:element name="request_reason_message" type="xs:string"/>
            <xs:element name="request_status" type="xs:string"/>
            <xs:element name="request_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="ROUTING"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns1:body"/>
                        <xs:element ref="ns1:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="routing_from" type="xs:string"/>
            <xs:element name="routing_to" type="xs:string"/>
            <xs:element name="source_system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NPG"/>
                        <xs:pattern value="BSS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="state_code" type="xs:string"/>
            <xs:element name="state_date" type="xs:string"/>
            <xs:element name="state_desc" type="xs:string"/>
            <xs:element name="state_id" type="xs:string"/>
            <xs:element name="state_trans_code" type="xs:string"/>
            <xs:element name="state_trans_desc" type="xs:string"/>
            <xs:element name="subprocess_operator" type="xs:string"/>
            <xs:element name="subprocess_parent_state_id" type="xs:string"/>
            <xs:element name="target_system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NPG"/>
                        <xs:pattern value="BSS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="to" type="xs:string"/>
            <xs:element name="toll_free" type="xs:string"/>
            <xs:element name="user_id" type="xs:string"/>
            <xs:element name="user_ps" type="xs:string"/>
            <xs:element name="valid_from" type="xs:string"/>
            <xs:element name="valid_to" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.TELZAR.co.il/Schemas/npUnfreezeNumber" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.TELZAR.co.il/Schemas/npUnfreezeNumber">
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:element name="body">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:source_system"/>
                        <xs:element ref="ns2:target_system"/>
                        <xs:element ref="ns2:message_send_timestamp"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="message_send_timestamp" type="xs:string"/>
            <xs:element name="message_status">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:request_status"/>
                        <xs:element ref="ns2:request_reason_code"/>
                        <xs:element ref="ns2:request_reason_message"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="npg_request_id" type="xs:string"/>
            <xs:element name="operator_id" type="xs:string"/>
            <xs:element name="ported_dn" type="xs:string"/>
            <xs:element name="request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:source_system"/>
                        <xs:element ref="ns2:target_system"/>
                        <xs:element ref="ns2:message_send_timestamp"/>
                        <xs:element ref="ns2:request_type"/>
                        <xs:element minOccurs="0" ref="ns2:operator_id"/>
                        <xs:element ref="ns2:ported_dn"/>
                        <xs:element ref="ns2:npg_request_id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="request_reason_code" type="xs:string"/>
            <xs:element name="request_reason_message" type="xs:string"/>
            <xs:element name="request_status" type="xs:string"/>
            <xs:element name="response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns2:body"/>
                        <xs:element ref="ns2:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="source_system" type="xs:string"/>
            <xs:element name="target_system" type="xs:string"/>
            <xs:element name="request_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="UNFREEZE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck">
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUnfreezeNumber"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:element name="body">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:source_system"/>
                        <xs:element ref="ns0:target_system"/>
                        <xs:element ref="ns0:message_id"/>
                        <xs:element ref="ns0:message_send_timestamp"/>
                        <xs:element ref="ns0:request_type"/>
                        <xs:element ref="ns0:request_message_id"/>
                        <xs:element ref="ns0:npg_request_id"/>
                        <xs:element ref="ns0:dn_choice"/>
                        <xs:element minOccurs="0" ref="ns0:dn_type"/>
                        <xs:element minOccurs="0" ref="ns0:essential_info_1"/>
                        <xs:element minOccurs="0" ref="ns0:essential_info_2"/>
                        <xs:element minOccurs="0" ref="ns0:essential_info_3"/>
                        <xs:element minOccurs="0" ref="ns0:essential_info_4"/>
                        <xs:element minOccurs="0" ref="ns0:essential_info_5"/>
                        <xs:element minOccurs="0" ref="ns0:rejection_code"/>
                        <xs:element minOccurs="0" ref="ns0:leading_number"/>
                        <xs:element ref="ns0:crm_customer_id"/>
                        <xs:element ref="ns0:crm_request_id"/>
                        <xs:element ref="ns0:crm_seq_id"/>
                        <xs:element ref="ns0:kosher_flag"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crm_customer_id" type="xs:string"/>
            <xs:element name="crm_form_id" type="xs:string"/>
            <xs:element name="crm_info_1" type="xs:string"/>
            <xs:element name="crm_info_10" type="xs:string"/>
            <xs:element name="crm_info_2" type="xs:string"/>
            <xs:element name="crm_info_3" type="xs:string"/>
            <xs:element name="crm_info_4" type="xs:string"/>
            <xs:element name="crm_info_5" type="xs:string"/>
            <xs:element name="crm_info_6" type="xs:string"/>
            <xs:element name="crm_info_7" type="xs:string"/>
            <xs:element name="crm_info_8" type="xs:string"/>
            <xs:element name="crm_info_9" type="xs:string"/>
            <xs:element name="crm_req_id" type="xs:string"/>
            <xs:element name="crm_request_id" type="xs:string"/>
            <xs:element name="crm_seq_id" type="xs:string"/>
            <xs:element name="curr_state_code" type="xs:string"/>
            <xs:element name="curr_state_date" type="xs:string"/>
            <xs:element name="curr_state_desc" type="xs:string"/>
            <xs:element name="curr_state_trans_code" type="xs:string"/>
            <xs:element name="curr_state_trans_desc" type="xs:string"/>
            <xs:element name="curr_status_code" type="xs:string"/>
            <xs:element name="curr_status_desc" type="xs:string"/>
            <xs:element name="customer_id" type="xs:string"/>
            <xs:element name="customer_type" type="xs:string"/>
            <xs:element name="date_from" type="xs:string"/>
            <xs:element name="date_to" type="xs:string"/>
            <xs:element name="delayed_request_time" type="xs:string"/>
            <xs:element name="dn_choice">
                <xs:complexType>
                    <xs:choice>
                        <xs:element minOccurs="0" ref="ns0:dn_number"/>
                        <xs:sequence>
                            <xs:element minOccurs="0" ref="ns0:dn_from"/>
                            <xs:element minOccurs="0" ref="ns0:dn_to"/>
                        </xs:sequence>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="dn_from" type="xs:string"/>
            <xs:element name="dn_number" type="xs:string"/>
            <xs:element name="dn_number_item">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:dn_choice"/>
                        <xs:element ref="ns0:dn_type"/>
                        <xs:element minOccurs="0" ref="ns0:delayed_request_time"/>
                        <xs:element minOccurs="0" ref="ns0:porting_time"/>
                        <xs:element ref="ns0:crm_seq_id"/>
                        <xs:element minOccurs="0" ref="ns0:npg_request_id"/>
                        <xs:element minOccurs="0" ref="ns0:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dn_to" type="xs:string"/>
            <xs:element name="dn_type" type="xs:string"/>
            <xs:element name="donor" type="xs:string"/>
            <xs:element name="donor_id" type="xs:string"/>
            <xs:element name="essential_info_1" type="xs:string"/>
            <xs:element name="essential_info_2" type="xs:string"/>
            <xs:element name="essential_info_3" type="xs:string"/>
            <xs:element name="essential_info_4" type="xs:string"/>
            <xs:element name="essential_info_5" type="xs:string"/>
            <xs:element name="event_source_id" type="xs:string"/>
            <xs:element name="form_id" type="xs:string"/>
            <xs:element name="from" type="xs:string"/>
            <xs:element name="get_active_request" type="xs:string"/>
            <xs:element name="get_state_history" type="xs:string"/>
            <xs:element name="identification_value" type="xs:string"/>
            <xs:element name="identification_value_2" type="xs:string"/>
            <xs:element name="identification_value_3" type="xs:string"/>
            <xs:element name="interface_id" type="xs:string"/>
            <xs:element name="is_ported" type="xs:string"/>
            <xs:element name="kosher_flag" type="xs:string"/>
            <xs:element name="last_route_time" type="xs:string"/>
            <xs:element name="leading_dn" type="xs:string"/>
            <xs:element name="leading_number" type="xs:string"/>
            <xs:element name="lrn_code" type="xs:string"/>
            <xs:element name="message_id" type="xs:string"/>
            <xs:element name="message_send_timestamp" type="xs:string"/>
            <xs:element name="message_status">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:request_status"/>
                        <xs:element minOccurs="0" ref="ns0:request_reason_code"/>
                        <xs:element minOccurs="0" ref="ns0:request_reason_message"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="message_type" type="xs:string"/>
            <xs:element name="network_id" type="xs:string"/>
            <xs:element name="network_type" type="xs:string"/>
            <xs:element name="new_operator" type="xs:string"/>
            <xs:element name="npg_request_id" type="xs:string"/>
            <xs:element name="number_type" type="xs:string"/>
            <xs:element name="old_operator" type="xs:string"/>
            <xs:element name="om_system" type="xs:string"/>
            <xs:element name="order_auto_level" type="xs:string"/>
            <xs:element name="original_switch_ind" type="xs:string"/>
            <xs:element name="pnp1" type="xs:string"/>
            <xs:element name="pnp2" type="xs:string"/>
            <xs:element name="port_date" type="xs:string"/>
            <xs:element name="port_reason" type="xs:string"/>
            <xs:element name="portable" type="xs:string"/>
            <xs:element name="porting_execute_time" type="xs:string"/>
            <xs:element name="porting_request_time" type="xs:string"/>
            <xs:element name="porting_route_time" type="xs:string"/>
            <xs:element name="porting_time" type="xs:string"/>
            <xs:element name="process_state_code" type="xs:string"/>
            <xs:element name="process_state_desc" type="xs:string"/>
            <xs:element name="process_state_trans_code" type="xs:string"/>
            <xs:element name="process_state_trans_desc" type="xs:string"/>
            <xs:element name="process_status_code" type="xs:string"/>
            <xs:element name="process_status_desc" type="xs:string"/>
            <xs:element name="process_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="PORT-IN"/>
                        <xs:enumeration value="PORT-OUT"/>
                        <xs:enumeration value="PORT-OVER"/>
                        <xs:enumeration value="RETURN-OUT"/>
                        <xs:enumeration value="RETURN-IN"/>
                        <xs:enumeration value="RETURN-OVER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="product_sub_type" type="xs:string"/>
            <xs:element name="product_subtype" type="xs:string"/>
            <xs:element name="product_type" type="xs:string"/>
            <xs:element name="range">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:range_holder"/>
                        <xs:element ref="ns0:dn_from"/>
                        <xs:element ref="ns0:dn_to"/>
                        <xs:element ref="ns0:valid_from"/>
                        <xs:element minOccurs="0" ref="ns0:valid_to"/>
                        <xs:element ref="ns0:network_type"/>
                        <xs:element ref="ns0:portable"/>
                        <xs:element ref="ns0:toll_free"/>
                        <xs:element ref="ns0:kosher_flag"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="range_holder" type="xs:string"/>
            <xs:element name="recipient" type="xs:string"/>
            <xs:element name="recipient_id" type="xs:string"/>
            <xs:element fixed="SPO" name="record_type" type="xs:string"/>
            <xs:element name="rejection_code" type="xs:string"/>
            <xs:element name="request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:source_system"/>
                        <xs:element ref="ns0:target_system"/>
                        <xs:element ref="ns0:message_id"/>
                        <xs:element ref="ns0:message_send_timestamp"/>
                        <xs:element ref="ns0:request_type"/>
                        <xs:element ref="ns0:dn_choice"/>
                        <xs:element minOccurs="0" ref="ns0:dn_type"/>
                        <xs:element ref="ns0:identification_value"/>
                        <xs:element minOccurs="0" ref="ns0:identification_value_2"/>
                        <xs:element minOccurs="0" ref="ns0:identification_value_3"/>
                        <xs:element ref="ns0:npg_request_id"/>
                        <xs:element ref="ns0:new_operator"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="request_message_id" type="xs:string"/>
            <xs:element name="request_reason_code" type="xs:string"/>
            <xs:element name="request_reason_message" type="xs:string"/>
            <xs:element name="request_status" type="xs:string"/>
            <xs:element name="request_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="PORT_OUT"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns0:body"/>
                        <xs:element ref="ns0:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="routing_from" type="xs:string"/>
            <xs:element name="routing_to" type="xs:string"/>
            <xs:element name="source_system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NPG"/>
                        <xs:pattern value="BSS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="state_code" type="xs:string"/>
            <xs:element name="state_date" type="xs:string"/>
            <xs:element name="state_desc" type="xs:string"/>
            <xs:element name="state_id" type="xs:string"/>
            <xs:element name="state_trans_code" type="xs:string"/>
            <xs:element name="state_trans_desc" type="xs:string"/>
            <xs:element name="subprocess_operator" type="xs:string"/>
            <xs:element name="subprocess_parent_state_id" type="xs:string"/>
            <xs:element name="target_system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NPG"/>
                        <xs:pattern value="BSS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="to" type="xs:string"/>
            <xs:element name="toll_free" type="xs:string"/>
            <xs:element name="user_id" type="xs:string"/>
            <xs:element name="user_ps" type="xs:string"/>
            <xs:element name="valid_from" type="xs:string"/>
            <xs:element name="valid_to" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus">
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUnfreezeNumber"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:element name="crm_customer_id" type="xs:string"/>
            <xs:element name="crm_form_id" type="xs:string"/>
            <xs:element name="crm_info_1" type="xs:string"/>
            <xs:element name="crm_info_10" type="xs:string"/>
            <xs:element name="crm_info_2" type="xs:string"/>
            <xs:element name="crm_info_3" type="xs:string"/>
            <xs:element name="crm_info_4" type="xs:string"/>
            <xs:element name="crm_info_5" type="xs:string"/>
            <xs:element name="crm_info_6" type="xs:string"/>
            <xs:element name="crm_info_7" type="xs:string"/>
            <xs:element name="crm_info_8" type="xs:string"/>
            <xs:element name="crm_info_9" type="xs:string"/>
            <xs:element name="crm_req_id" type="xs:string"/>
            <xs:element name="crm_request_id" type="xs:string"/>
            <xs:element name="crm_seq_id" type="xs:string"/>
            <xs:element name="curr_state_code" type="xs:string"/>
            <xs:element name="curr_state_date" type="xs:string"/>
            <xs:element name="curr_state_desc" type="xs:string"/>
            <xs:element name="curr_state_trans_code" type="xs:string"/>
            <xs:element name="curr_state_trans_desc" type="xs:string"/>
            <xs:element name="curr_status_code" type="xs:string"/>
            <xs:element name="curr_status_desc" type="xs:string"/>
            <xs:element name="customer_id" type="xs:string"/>
            <xs:element name="customer_type" type="xs:string"/>
            <xs:element name="date_from" type="xs:string"/>
            <xs:element name="date_to" type="xs:string"/>
            <xs:element name="delayed_request_time" type="xs:string"/>
            <xs:element name="dn_choice">
                <xs:complexType>
                    <xs:choice>
                        <xs:element minOccurs="0" ref="ns5:dn_number"/>
                        <xs:sequence>
                            <xs:element minOccurs="0" ref="ns5:dn_from"/>
                            <xs:element minOccurs="0" ref="ns5:dn_to"/>
                        </xs:sequence>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="dn_from" type="xs:string"/>
            <xs:element name="dn_number" type="xs:string"/>
            <xs:element name="dn_number_item">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns5:dn_choice"/>
                        <xs:element ref="ns5:dn_type"/>
                        <xs:element minOccurs="0" ref="ns5:delayed_request_time"/>
                        <xs:element minOccurs="0" ref="ns5:porting_time"/>
                        <xs:element ref="ns5:crm_seq_id"/>
                        <xs:element minOccurs="0" ref="ns5:npg_request_id"/>
                        <xs:element minOccurs="0" ref="ns5:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dn_to" type="xs:string"/>
            <xs:element name="dn_type" type="xs:string"/>
            <xs:element name="donor" type="xs:string"/>
            <xs:element name="donor_id" type="xs:string"/>
            <xs:element name="essential_info_1" type="xs:string"/>
            <xs:element name="essential_info_2" type="xs:string"/>
            <xs:element name="essential_info_3" type="xs:string"/>
            <xs:element name="essential_info_4" type="xs:string"/>
            <xs:element name="essential_info_5" type="xs:string"/>
            <xs:element name="event_source_id" type="xs:string"/>
            <xs:element name="form_id" type="xs:string"/>
            <xs:element name="from" type="xs:string"/>
            <xs:element name="get_active_request" type="xs:string"/>
            <xs:element name="get_state_history" type="xs:string"/>
            <xs:element name="identification_value" type="xs:string"/>
            <xs:element name="identification_value_2" type="xs:string"/>
            <xs:element name="identification_value_3" type="xs:string"/>
            <xs:element name="interface_id" type="xs:string"/>
            <xs:element name="is_ported" type="xs:string"/>
            <xs:element name="kosher_flag" type="xs:string"/>
            <xs:element name="last_route_time" type="xs:string"/>
            <xs:element name="leading_dn" type="xs:string"/>
            <xs:element name="leading_number" type="xs:string"/>
            <xs:element name="lrn_code" type="xs:string"/>
            <xs:element name="message_id" type="xs:string"/>
            <xs:element name="message_send_timestamp" type="xs:string"/>
            <xs:element name="message_status">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns5:request_status"/>
                        <xs:element minOccurs="0" ref="ns5:request_reason_code"/>
                        <xs:element minOccurs="0" ref="ns5:request_reason_message"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="message_type" type="xs:string"/>
            <xs:element name="network_id" type="xs:string"/>
            <xs:element name="network_type" type="xs:string"/>
            <xs:element name="new_operator" type="xs:string"/>
            <xs:element name="publishPendingOperatorList" type="xs:string"/>
            <xs:element name="notification_code" type="xs:string"/>
            <xs:element name="npg_request_id" type="xs:string"/>
            <xs:element name="number_type" type="xs:string"/>
            <xs:element name="old_operator" type="xs:string"/>
            <xs:element name="om_system" type="xs:string"/>
            <xs:element name="order_auto_level" type="xs:string"/>
            <xs:element name="original_switch_ind" type="xs:string"/>
            <xs:element name="pnp1" type="xs:string"/>
            <xs:element name="pnp2" type="xs:string"/>
            <xs:element name="port_date" type="xs:string"/>
            <xs:element name="port_reason" type="xs:string"/>
            <xs:element name="portable" type="xs:string"/>
            <xs:element name="porting_execute_time" type="xs:string"/>
            <xs:element name="porting_request_time" type="xs:string"/>
            <xs:element name="porting_route_time" type="xs:string"/>
            <xs:element name="porting_time" type="xs:string"/>
            <xs:element name="process_state_code" type="xs:string"/>
            <xs:element name="process_state_desc" type="xs:string"/>
            <xs:element name="process_state_trans_code" type="xs:string"/>
            <xs:element name="process_state_trans_desc" type="xs:string"/>
            <xs:element name="process_status_code" type="xs:string"/>
            <xs:element name="process_status_desc" type="xs:string"/>
            <xs:element name="process_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="PORT-IN"/>
                        <xs:enumeration value="PORT-OUT"/>
                        <xs:enumeration value="PORT-OVER"/>
                        <xs:enumeration value="RETURN-OUT"/>
                        <xs:enumeration value="RETURN-IN"/>
                        <xs:enumeration value="RETURN-OVER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="product_sub_type" type="xs:string"/>
            <xs:element name="product_subtype" type="xs:string"/>
            <xs:element name="product_type" type="xs:string"/>
            <xs:element name="range">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns5:range_holder"/>
                        <xs:element ref="ns5:dn_from"/>
                        <xs:element ref="ns5:dn_to"/>
                        <xs:element ref="ns5:valid_from"/>
                        <xs:element minOccurs="0" ref="ns5:valid_to"/>
                        <xs:element ref="ns5:network_type"/>
                        <xs:element ref="ns5:portable"/>
                        <xs:element ref="ns5:toll_free"/>
                        <xs:element ref="ns5:kosher_flag"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="range_holder" type="xs:string"/>
            <xs:element name="recipient" type="xs:string"/>
            <xs:element name="recipient_id" type="xs:string"/>
            <xs:element fixed="SPO" name="record_type" type="xs:string"/>
            <xs:element name="rejection_code" type="xs:string"/>
            <xs:element name="request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns5:source_system"/>
                        <xs:element ref="ns5:target_system"/>
                        <xs:element ref="ns5:message_id"/>
                        <xs:element ref="ns5:message_send_timestamp"/>
                        <xs:element ref="ns5:request_type"/>
                        <xs:element ref="ns5:crm_customer_id"/>
                        <xs:element ref="ns5:crm_request_id"/>
                        <xs:element ref="ns5:dn_choice"/>
                        <xs:element ref="ns5:dn_type"/>
                        <xs:element ref="ns5:old_operator"/>
                        <xs:element ref="ns5:new_operator"/>
                        <xs:element minOccurs="0" ref="ns5:publishPendingOperatorList"/>
                        <xs:element ref="ns5:notification_code"/>
                        <xs:element ref="ns5:process_status_code"/>
                        <xs:element ref="ns5:process_status_desc"/>
                        <xs:element ref="ns5:process_state_code"/>
                        <xs:element ref="ns5:process_state_desc"/>
                        <xs:element ref="ns5:process_state_trans_code"/>
                        <xs:element ref="ns5:process_state_trans_desc"/>
                        <xs:element ref="ns5:crm_seq_id"/>
                        <xs:element ref="ns5:npg_request_id"/>
                        <xs:element ref="ns5:porting_time"/>
                        <xs:element minOccurs="0" ref="ns5:essential_info_1"/>
                        <xs:element minOccurs="0" ref="ns5:essential_info_2"/>
                        <xs:element minOccurs="0" ref="ns5:essential_info_3"/>
                        <xs:element minOccurs="0" ref="ns5:essential_info_4"/>
                        <xs:element minOccurs="0" ref="ns5:essential_info_5"/>
                        <xs:element ref="ns5:rejection_code"/>
                        <xs:element ref="ns5:event_source_id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="request_message_id" type="xs:string"/>
            <xs:element name="request_reason_code" type="xs:string"/>
            <xs:element name="request_reason_message" type="xs:string"/>
            <xs:element name="request_status" type="xs:string"/>
            <xs:element name="request_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NOTIFICATION"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns5:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="routing_from" type="xs:string"/>
            <xs:element name="routing_to" type="xs:string"/>
            <xs:element name="source_system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NPG"/>
                        <xs:pattern value="BSS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="state_code" type="xs:string"/>
            <xs:element name="state_date" type="xs:string"/>
            <xs:element name="state_desc" type="xs:string"/>
            <xs:element name="state_id" type="xs:string"/>
            <xs:element name="state_trans_code" type="xs:string"/>
            <xs:element name="state_trans_desc" type="xs:string"/>
            <xs:element name="subprocess_operator" type="xs:string"/>
            <xs:element name="subprocess_parent_state_id" type="xs:string"/>
            <xs:element name="target_system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NPG"/>
                        <xs:pattern value="BSS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="to" type="xs:string"/>
            <xs:element name="toll_free" type="xs:string"/>
            <xs:element name="user_id" type="xs:string"/>
            <xs:element name="user_ps" type="xs:string"/>
            <xs:element name="valid_from" type="xs:string"/>
            <xs:element name="valid_to" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate">
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUnfreezeNumber"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npExecution"/>
            <xs:element name="body">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns4:source_system"/>
                        <xs:element ref="ns4:target_system"/>
                        <xs:element minOccurs="0" ref="ns4:message_id"/>
                        <xs:element ref="ns4:message_send_timestamp"/>
                        <xs:element minOccurs="0" ref="ns4:request_type"/>
                        <xs:element minOccurs="0" ref="ns4:request_message_id"/>
                        <xs:element ref="ns4:dn_choice"/>
                        <xs:element minOccurs="0" ref="ns4:dn_type"/>
                        <xs:element minOccurs="0" ref="ns4:old_operator"/>
                        <xs:element minOccurs="0" ref="ns4:new_operator"/>
                        <xs:element ref="ns4:npg_request_id"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crm_customer_id" type="xs:string"/>
            <xs:element name="crm_form_id" type="xs:string"/>
            <xs:element name="crm_info_1" type="xs:string"/>
            <xs:element name="crm_info_10" type="xs:string"/>
            <xs:element name="crm_info_2" type="xs:string"/>
            <xs:element name="crm_info_3" type="xs:string"/>
            <xs:element name="crm_info_4" type="xs:string"/>
            <xs:element name="crm_info_5" type="xs:string"/>
            <xs:element name="crm_info_6" type="xs:string"/>
            <xs:element name="crm_info_7" type="xs:string"/>
            <xs:element name="crm_info_8" type="xs:string"/>
            <xs:element name="crm_info_9" type="xs:string"/>
            <xs:element name="crm_req_id" type="xs:string"/>
            <xs:element name="crm_request_id" type="xs:string"/>
            <xs:element name="crm_seq_id" type="xs:string"/>
            <xs:element name="curr_state_code" type="xs:string"/>
            <xs:element name="curr_state_date" type="xs:string"/>
            <xs:element name="curr_state_desc" type="xs:string"/>
            <xs:element name="curr_state_trans_code" type="xs:string"/>
            <xs:element name="curr_state_trans_desc" type="xs:string"/>
            <xs:element name="curr_status_code" type="xs:string"/>
            <xs:element name="curr_status_desc" type="xs:string"/>
            <xs:element name="customer_id" type="xs:string"/>
            <xs:element name="customer_type" type="xs:string"/>
            <xs:element name="date_from" type="xs:string"/>
            <xs:element name="date_to" type="xs:string"/>
            <xs:element name="delayed_request_time" type="xs:string"/>
            <xs:element name="dn_choice">
                <xs:complexType>
                    <xs:choice>
                        <xs:element minOccurs="0" ref="ns4:dn_number"/>
                        <xs:sequence>
                            <xs:element minOccurs="0" ref="ns4:dn_from"/>
                            <xs:element minOccurs="0" ref="ns4:dn_to"/>
                        </xs:sequence>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="dn_from" type="xs:string"/>
            <xs:element name="dn_number" type="xs:string"/>
            <xs:element name="dn_number_item">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns4:dn_choice"/>
                        <xs:element ref="ns4:dn_type"/>
                        <xs:element minOccurs="0" ref="ns4:delayed_request_time"/>
                        <xs:element minOccurs="0" ref="ns4:porting_time"/>
                        <xs:element ref="ns4:crm_seq_id"/>
                        <xs:element minOccurs="0" ref="ns4:npg_request_id"/>
                        <xs:element minOccurs="0" ref="ns4:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dn_to" type="xs:string"/>
            <xs:element name="dn_type" type="xs:string"/>
            <xs:element name="donor" type="xs:string"/>
            <xs:element name="donor_id" type="xs:string"/>
            <xs:element name="essential_info_1" type="xs:string"/>
            <xs:element name="essential_info_2" type="xs:string"/>
            <xs:element name="essential_info_3" type="xs:string"/>
            <xs:element name="essential_info_4" type="xs:string"/>
            <xs:element name="essential_info_5" type="xs:string"/>
            <xs:element name="event_source_id" type="xs:string"/>
            <xs:element name="form_id" type="xs:string"/>
            <xs:element name="from" type="xs:string"/>
            <xs:element name="get_active_request" type="xs:string"/>
            <xs:element name="get_state_history" type="xs:string"/>
            <xs:element name="identification_value" type="xs:string"/>
            <xs:element name="identification_value_2" type="xs:string"/>
            <xs:element name="identification_value_3" type="xs:string"/>
            <xs:element name="interface_id" type="xs:string"/>
            <xs:element name="is_ported" type="xs:string"/>
            <xs:element name="kosher_flag" type="xs:string"/>
            <xs:element name="last_route_time" type="xs:string"/>
            <xs:element name="leading_dn" type="xs:string"/>
            <xs:element name="leading_number" type="xs:string"/>
            <xs:element name="lrn_code" type="xs:string"/>
            <xs:element name="message_id" type="xs:string"/>
            <xs:element name="message_send_timestamp" type="xs:string"/>
            <xs:element name="message_status">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns4:request_status"/>
                        <xs:element minOccurs="0" ref="ns4:request_reason_code"/>
                        <xs:element minOccurs="0" ref="ns4:request_reason_message"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="message_type" type="xs:string"/>
            <xs:element name="network_id" type="xs:string"/>
            <xs:element name="network_type" type="xs:string"/>
            <xs:element name="new_operator" type="xs:string"/>
            <xs:element name="npg_request_id" type="xs:string"/>
            <xs:element name="number_type" type="xs:string"/>
            <xs:element name="old_operator" type="xs:string"/>
            <xs:element name="om_system" type="xs:string"/>
            <xs:element name="order_auto_level" type="xs:string"/>
            <xs:element name="original_switch_ind" type="xs:string"/>
            <xs:element name="pnp1" type="xs:string"/>
            <xs:element name="pnp2" type="xs:string"/>
            <xs:element name="port_date" type="xs:string"/>
            <xs:element name="port_reason" type="xs:string"/>
            <xs:element name="portable" type="xs:string"/>
            <xs:element name="porting_execute_time" type="xs:string"/>
            <xs:element name="porting_request_time" type="xs:string"/>
            <xs:element name="porting_route_time" type="xs:string"/>
            <xs:element name="porting_time" type="xs:string"/>
            <xs:element name="process_state_code" type="xs:string"/>
            <xs:element name="process_state_desc" type="xs:string"/>
            <xs:element name="process_state_trans_code" type="xs:string"/>
            <xs:element name="process_state_trans_desc" type="xs:string"/>
            <xs:element name="process_status_code" type="xs:string"/>
            <xs:element name="process_status_desc" type="xs:string"/>
            <xs:element name="process_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="PORT-IN"/>
                        <xs:enumeration value="PORT-OUT"/>
                        <xs:enumeration value="PORT-OVER"/>
                        <xs:enumeration value="RETURN-OUT"/>
                        <xs:enumeration value="RETURN-IN"/>
                        <xs:enumeration value="RETURN-OVER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="product_sub_type" type="xs:string"/>
            <xs:element name="product_subtype" type="xs:string"/>
            <xs:element name="product_type" type="xs:string"/>
            <xs:element name="range">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns4:range_holder"/>
                        <xs:element ref="ns4:dn_from"/>
                        <xs:element ref="ns4:dn_to"/>
                        <xs:element ref="ns4:valid_from"/>
                        <xs:element minOccurs="0" ref="ns4:valid_to"/>
                        <xs:element ref="ns4:network_type"/>
                        <xs:element ref="ns4:portable"/>
                        <xs:element ref="ns4:toll_free"/>
                        <xs:element ref="ns4:kosher_flag"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="range_holder" type="xs:string"/>
            <xs:element name="recipient" type="xs:string"/>
            <xs:element name="recipient_id" type="xs:string"/>
            <xs:element fixed="SPO" name="record_type" type="xs:string"/>
            <xs:element name="rejection_code" type="xs:string"/>
            <xs:element name="request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns4:source_system"/>
                        <xs:element ref="ns4:target_system"/>
                        <xs:element ref="ns4:message_id"/>
                        <xs:element ref="ns4:message_send_timestamp"/>
                        <xs:element ref="ns4:request_type"/>
                        <xs:element ref="ns4:dn_choice"/>
                        <xs:element minOccurs="0" ref="ns4:dn_type"/>
                        <xs:element minOccurs="0" ref="ns4:old_operator"/>
                        <xs:element minOccurs="0" ref="ns4:new_operator"/>
                        <xs:element ref="ns4:npg_request_id"/>
                        <xs:element ref="ns4:process_type"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="request_message_id" type="xs:string"/>
            <xs:element name="request_reason_code" type="xs:string"/>
            <xs:element name="request_reason_message" type="xs:string"/>
            <xs:element name="request_status" type="xs:string"/>
            <xs:element name="request_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NUM_UPDATE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns4:body"/>
                        <xs:element ref="ns4:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="routing_from" type="xs:string"/>
            <xs:element name="routing_to" type="xs:string"/>
            <xs:element name="source_system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NPG"/>
                        <xs:pattern value="BSS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="state_code" type="xs:string"/>
            <xs:element name="state_date" type="xs:string"/>
            <xs:element name="state_desc" type="xs:string"/>
            <xs:element name="state_id" type="xs:string"/>
            <xs:element name="state_trans_code" type="xs:string"/>
            <xs:element name="state_trans_desc" type="xs:string"/>
            <xs:element name="subprocess_operator" type="xs:string"/>
            <xs:element name="subprocess_parent_state_id" type="xs:string"/>
            <xs:element name="target_system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NPG"/>
                        <xs:pattern value="BSS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="to" type="xs:string"/>
            <xs:element name="toll_free" type="xs:string"/>
            <xs:element name="user_id" type="xs:string"/>
            <xs:element name="user_ps" type="xs:string"/>
            <xs:element name="valid_from" type="xs:string"/>
            <xs:element name="valid_to" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.TELZAR.co.il/Schemas/npExecution">
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npRoutingUpdate"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npPortOutCheck"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUpdateStatus"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npUnfreezeNumber"/>
            <xs:import namespace="http://www.TELZAR.co.il/Schemas/npNumberUpdate"/>
            <xs:element name="action">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="ACTIVATE"/>
                        <xs:pattern value="DEACTIVATE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="body">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns3:source_system"/>
                        <xs:element ref="ns3:target_system"/>
                        <xs:element ref="ns3:message_id"/>
                        <xs:element ref="ns3:message_send_timestamp"/>
                        <xs:element ref="ns3:request_type"/>
                        <xs:element ref="ns3:request_message_id"/>
                        <xs:element ref="ns3:crm_customer_id"/>
                        <xs:element ref="ns3:crm_request_id"/>
                        <xs:element ref="ns3:dn_choice"/>
                        <xs:element ref="ns3:dn_type"/>
                        <xs:element ref="ns3:new_operator"/>
                        <xs:element ref="ns3:crm_seq_id"/>
                        <xs:element ref="ns3:npg_request_id"/>
                        <xs:element ref="ns3:action"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="crm_customer_id" type="xs:string"/>
            <xs:element name="crm_form_id" type="xs:string"/>
            <xs:element name="crm_info_1" type="xs:string"/>
            <xs:element name="crm_info_10" type="xs:string"/>
            <xs:element name="crm_info_2" type="xs:string"/>
            <xs:element name="crm_info_3" type="xs:string"/>
            <xs:element name="crm_info_4" type="xs:string"/>
            <xs:element name="crm_info_5" type="xs:string"/>
            <xs:element name="crm_info_6" type="xs:string"/>
            <xs:element name="crm_info_7" type="xs:string"/>
            <xs:element name="crm_info_8" type="xs:string"/>
            <xs:element name="crm_info_9" type="xs:string"/>
            <xs:element name="crm_req_id" type="xs:string"/>
            <xs:element name="crm_request_id" type="xs:string"/>
            <xs:element name="crm_seq_id" type="xs:string"/>
            <xs:element name="curr_state_code" type="xs:string"/>
            <xs:element name="curr_state_date" type="xs:string"/>
            <xs:element name="curr_state_desc" type="xs:string"/>
            <xs:element name="curr_state_trans_code" type="xs:string"/>
            <xs:element name="curr_state_trans_desc" type="xs:string"/>
            <xs:element name="curr_status_code" type="xs:string"/>
            <xs:element name="curr_status_desc" type="xs:string"/>
            <xs:element name="customer_id" type="xs:string"/>
            <xs:element name="customer_type" type="xs:string"/>
            <xs:element name="date_from" type="xs:string"/>
            <xs:element name="date_to" type="xs:string"/>
            <xs:element name="delayed_request_time" type="xs:string"/>
            <xs:element name="dn_choice">
                <xs:complexType>
                    <xs:choice>
                        <xs:element minOccurs="0" ref="ns3:dn_number"/>
                        <xs:sequence>
                            <xs:element minOccurs="0" ref="ns3:dn_from"/>
                            <xs:element minOccurs="0" ref="ns3:dn_to"/>
                        </xs:sequence>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="dn_from" type="xs:string"/>
            <xs:element name="dn_number" type="xs:string"/>
            <xs:element name="dn_number_item">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns3:dn_choice"/>
                        <xs:element ref="ns3:dn_type"/>
                        <xs:element minOccurs="0" ref="ns3:delayed_request_time"/>
                        <xs:element minOccurs="0" ref="ns3:porting_time"/>
                        <xs:element ref="ns3:crm_seq_id"/>
                        <xs:element minOccurs="0" ref="ns3:npg_request_id"/>
                        <xs:element minOccurs="0" ref="ns3:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dn_to" type="xs:string"/>
            <xs:element name="dn_type" type="xs:string"/>
            <xs:element name="donor" type="xs:string"/>
            <xs:element name="donor_id" type="xs:string"/>
            <xs:element name="essential_info_1" type="xs:string"/>
            <xs:element name="essential_info_2" type="xs:string"/>
            <xs:element name="essential_info_3" type="xs:string"/>
            <xs:element name="essential_info_4" type="xs:string"/>
            <xs:element name="essential_info_5" type="xs:string"/>
            <xs:element name="event_source_id" type="xs:string"/>
            <xs:element name="form_id" type="xs:string"/>
            <xs:element name="from" type="xs:string"/>
            <xs:element name="get_active_request" type="xs:string"/>
            <xs:element name="get_state_history" type="xs:string"/>
            <xs:element name="identification_value" type="xs:string"/>
            <xs:element name="identification_value_2" type="xs:string"/>
            <xs:element name="identification_value_3" type="xs:string"/>
            <xs:element name="interface_id" type="xs:string"/>
            <xs:element name="is_ported" type="xs:string"/>
            <xs:element name="kosher_flag" type="xs:string"/>
            <xs:element name="last_route_time" type="xs:string"/>
            <xs:element name="leading_dn" type="xs:string"/>
            <xs:element name="leading_number" type="xs:string"/>
            <xs:element name="lrn_code" type="xs:string"/>
            <xs:element name="message_id" type="xs:string"/>
            <xs:element name="message_send_timestamp" type="xs:string"/>
            <xs:element name="message_status">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns3:request_status"/>
                        <xs:element minOccurs="0" ref="ns3:request_reason_code"/>
                        <xs:element minOccurs="0" ref="ns3:request_reason_message"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="message_type" type="xs:string"/>
            <xs:element name="network_id" type="xs:string"/>
            <xs:element name="network_type" type="xs:string"/>
            <xs:element name="new_operator" type="xs:string"/>
            <xs:element name="npg_request_id" type="xs:string"/>
            <xs:element name="number_type" type="xs:string"/>
            <xs:element name="old_operator" type="xs:string"/>
            <xs:element name="om_system" type="xs:string"/>
            <xs:element name="order_auto_level" type="xs:string"/>
            <xs:element name="original_switch_ind" type="xs:string"/>
            <xs:element name="pnp1" type="xs:string"/>
            <xs:element name="pnp2" type="xs:string"/>
            <xs:element name="port_date" type="xs:string"/>
            <xs:element name="port_reason" type="xs:string"/>
            <xs:element name="portable" type="xs:string"/>
            <xs:element name="porting_execute_time" type="xs:string"/>
            <xs:element name="porting_request_time" type="xs:string"/>
            <xs:element name="porting_route_time" type="xs:string"/>
            <xs:element name="porting_time" type="xs:string"/>
            <xs:element name="process_state_code" type="xs:string"/>
            <xs:element name="process_state_desc" type="xs:string"/>
            <xs:element name="process_state_trans_code" type="xs:string"/>
            <xs:element name="process_state_trans_desc" type="xs:string"/>
            <xs:element name="process_status_code" type="xs:string"/>
            <xs:element name="process_status_desc" type="xs:string"/>
            <xs:element name="process_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="PORT-IN"/>
                        <xs:enumeration value="PORT-OUT"/>
                        <xs:enumeration value="PORT-OVER"/>
                        <xs:enumeration value="RETURN-OUT"/>
                        <xs:enumeration value="RETURN-IN"/>
                        <xs:enumeration value="RETURN-OVER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="product_sub_type" type="xs:string"/>
            <xs:element name="product_subtype" type="xs:string"/>
            <xs:element name="product_type" type="xs:string"/>
            <xs:element name="range">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns3:range_holder"/>
                        <xs:element ref="ns3:dn_from"/>
                        <xs:element ref="ns3:dn_to"/>
                        <xs:element ref="ns3:valid_from"/>
                        <xs:element minOccurs="0" ref="ns3:valid_to"/>
                        <xs:element ref="ns3:network_type"/>
                        <xs:element ref="ns3:portable"/>
                        <xs:element ref="ns3:toll_free"/>
                        <xs:element ref="ns3:kosher_flag"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="range_holder" type="xs:string"/>
            <xs:element name="recipient" type="xs:string"/>
            <xs:element name="recipient_id" type="xs:string"/>
            <xs:element fixed="SPO" name="record_type" type="xs:string"/>
            <xs:element name="rejection_code" type="xs:string"/>
            <xs:element name="request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns3:source_system"/>
                        <xs:element ref="ns3:target_system"/>
                        <xs:element ref="ns3:message_id"/>
                        <xs:element ref="ns3:message_send_timestamp"/>
                        <xs:element ref="ns3:request_type"/>
                        <xs:element ref="ns3:crm_customer_id"/>
                        <xs:element ref="ns3:crm_request_id"/>
                        <xs:element ref="ns3:dn_choice"/>
                        <xs:element ref="ns3:dn_type"/>
                        <xs:element ref="ns3:new_operator"/>
                        <xs:element ref="ns3:crm_seq_id"/>
                        <xs:element ref="ns3:npg_request_id"/>
                        <xs:element ref="ns3:action"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="request_message_id" type="xs:string"/>
            <xs:element name="request_reason_code" type="xs:string"/>
            <xs:element name="request_reason_message" type="xs:string"/>
            <xs:element name="request_status" type="xs:string"/>
            <xs:element name="request_type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="EXECUTE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns3:message_status"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="routing_from" type="xs:string"/>
            <xs:element name="routing_to" type="xs:string"/>
            <xs:element name="source_system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NPG"/>
                        <xs:pattern value="BSS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="state_code" type="xs:string"/>
            <xs:element name="state_date" type="xs:string"/>
            <xs:element name="state_desc" type="xs:string"/>
            <xs:element name="state_id" type="xs:string"/>
            <xs:element name="state_trans_code" type="xs:string"/>
            <xs:element name="state_trans_desc" type="xs:string"/>
            <xs:element name="subprocess_operator" type="xs:string"/>
            <xs:element name="subprocess_parent_state_id" type="xs:string"/>
            <xs:element name="target_system">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="NPG"/>
                        <xs:pattern value="BSS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="to" type="xs:string"/>
            <xs:element name="toll_free" type="xs:string"/>
            <xs:element name="user_id" type="xs:string"/>
            <xs:element name="user_ps" type="xs:string"/>
            <xs:element name="valid_from" type="xs:string"/>
            <xs:element name="valid_to" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="WS-NPG-IT-Services-SOAP-service1">
        <wsdl:port binding="tns:IT-PortTypesEndpointBinding" name="IT-PortTypesEndpoint">
            <soap:address location="http://localhost:19616/IT-PortTypesEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="IT-PortTypes">
        <wsdl:operation name="npPortOutCheck">
            <wsdl:input message="tns:TnpPortOutCheck"/>
            <wsdl:output message="tns:TnpPortOutCheckResponse"/>
        </wsdl:operation>
        <wsdl:operation name="npRoutingUpdate">
            <wsdl:input message="tns:TnpRoutingUpdate"/>
            <wsdl:output message="tns:TnpRoutingUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="npUnfreezeNumber">
            <wsdl:input message="tns:TnpUnfreezeNumber"/>
            <wsdl:output message="tns:TnpUnfreezeNumberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="npExecution">
            <wsdl:input message="tns:TnpExecution"/>
            <wsdl:output message="tns:TnpExecutionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="npNumberUpdate">
            <wsdl:input message="tns:TnpNumberUpdate"/>
            <wsdl:output message="tns:TnpNumberUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="npUpdateStatus">
            <wsdl:input message="tns:TnpUpdateStatus"/>
            <wsdl:output message="tns:TnpUpdateStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IT-PortTypesEndpointBinding" type="tns:IT-PortTypes">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="npPortOutCheck">
            <soap:operation soapAction="npPortOutCheck" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="npRoutingUpdate">
            <soap:operation soapAction="npRoutingUpdate" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="npUnfreezeNumber">
            <soap:operation soapAction="npUnfreezeNumber" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="npExecution">
            <soap:operation soapAction="npExecution" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="npNumberUpdate">
            <soap:operation soapAction="npNumberUpdate" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="npUpdateStatus">
            <soap:operation soapAction="npUpdateStatus" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="TnpPortOutCheck">
        <wsdl:part element="ns0:request" name="request"/>
    </wsdl:message>
    <wsdl:message name="TnpPortOutCheckResponse">
        <wsdl:part element="ns0:response" name="response"/>
    </wsdl:message>
    <wsdl:message name="TnpRoutingUpdate">
        <wsdl:part element="ns1:request" name="request"/>
    </wsdl:message>
    <wsdl:message name="TnpRoutingUpdateResponse">
        <wsdl:part element="ns1:response" name="response"/>
    </wsdl:message>
    <wsdl:message name="TnpUnfreezeNumber">
        <wsdl:part element="ns2:request" name="request"/>
    </wsdl:message>
    <wsdl:message name="TnpUnfreezeNumberResponse">
        <wsdl:part element="ns2:response" name="response"/>
    </wsdl:message>
    <wsdl:message name="TnpExecution">
        <wsdl:part element="ns3:request" name="request"/>
    </wsdl:message>
    <wsdl:message name="TnpExecutionResponse">
        <wsdl:part element="ns3:response" name="response"/>
    </wsdl:message>
    <wsdl:message name="TnpNumberUpdate">
        <wsdl:part element="ns4:request" name="request"/>
    </wsdl:message>
    <wsdl:message name="TnpNumberUpdateResponse">
        <wsdl:part element="ns4:response" name="response"/>
    </wsdl:message>
    <wsdl:message name="TnpUpdateStatus">
        <wsdl:part element="ns5:request" name="request"/>
    </wsdl:message>
    <wsdl:message name="TnpUpdateStatusResponse">
        <wsdl:part element="ns5:response" name="response"/>
    </wsdl:message>
</wsdl:definitions>